*{
    margin: 0;
}

body{
    text-align: center;
    background-color: rgb(1, 103, 150);
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
header{
background-color: aquamarine;
}
#textoDerecha{
    text-align: right ; 
}
div h2{
    text-decoration: underline;
}
.logoAfa{
    width: 10%;
}
section{
    text-align: left;
}
.nombrePag{
    color: goldenrod;
}
#textoIzquierda{
    text-align: left;
}
